
  .form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    position: relative;
    width: 300px;
    
  }
  .form-container h2 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .form-container .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-container input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #333;
    color: #fff;
  }
  
  .form-container button[type ="submit"]:hover {
    background: #555;
  }
  .form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
  }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .form-group label {
    flex: 1;
    margin-right: 10px;
  }
  
  .form-group input {
    flex: 2;
    padding: 5px;
  }
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .open-form-btn{
    background: none;
    border: none;
    color: blue;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px; 

  }

  .open-form-btn:hover{
    text-decoration: underline;
  }